## Some configuration before start

In [14]:
# Jupyter magic extensions that makes our live easier
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import logging
import sys

In [22]:
# This is needed to see the python scripts logger output, which is the fancy way of print things
logging.basicConfig(
    format="%(asctime)s | %(levelname)s: %(message)s",
    level=logging.INFO,
    stream=sys.stdout,
)

## We can start now!

Some "best practices" things that I readed somewhere:
- Don't mix imports and code in a cell. Make one cell with the imports, and  a second one with the code.

In [19]:
from src.data.make_dataset import example_function

In [23]:
example_function()

This is a print: Importing dataset
2022-12-14 00:22:40,010 | INFO : This is a logging with info level: Making final data set from raw data

In [24]:
def hello_world():
    print("Hello World")

In [25]:
hello_world()

Hello World

## Data Loading

Here I use a classes and other things to practice, but you can create (always should be at the proper script) the function that you specifically need. If you want, you can try to expand the current loader class, and I'll review it.

In [30]:
from src.data.make_dataset import PandasDatasetLoader

In [84]:
dataset_path = "/media/jmjl/UBUNTU 20_0/Epilepsy challenge"
dataset = PandasDatasetLoader(dataset_path).load_dataset(
    max_patients_to_load=1, patients_to_skip=1
)

['010', '011', '012', '013', '014', '015', '016']

In [85]:
dataset

       utc_timestamp      acc_x      acc_y  ...         hr       temp  patient_id
0       1.583591e+09  41.533081  45.005056  ...  80.481412  29.989943         011
1       1.583591e+09  41.283947  45.005056  ...  80.478099  29.989943         011
2       1.583591e+09  41.029513  45.005056  ...  80.474786  29.989943         011
3       1.583591e+09  41.003009  45.005056  ...  80.471473  29.989943         011
4       1.583591e+09  41.003009  45.005056  ...  80.468159  29.989943         011
...              ...        ...        ...  ...        ...        ...         ...
76795   1.583594e+09   4.003950  39.004636  ...  76.981190  29.149797         011
76796   1.583594e+09   4.003950  39.004636  ...  76.984503  29.149797         011
76797   1.583594e+09   4.003950  39.004636  ...  76.986160  29.149797         011
76798   1.583594e+09   4.003950  39.004636  ...  76.989473  29.149797         011
76799   1.583594e+09   4.003950  39.004636  ...  76.991129  29.149797         011

[384000 rows x 10 columns]